{
  "presets": [// presets 就是 plugins 的组合
    [
      "@babel/preset-env",
      {
        "targets": {
          // 大于相关浏览器版本无需用到 preset-env
          "edge": 17,
          "firefox": 60,
          "chrome": 67,
          "safari": 11.1,
          "ie": 11
        },
        // 根据代码逻辑中用到的 ES6+语法进行方法的导入，而不是全部导入
        // entry全量导入，在入口文件引入
        // usage按需引入,仅项目中是否用到的，polyfill文件不需要在入口手动注入
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import", // 动态代码引入支持
    ["@babel/plugin-proposal-decorators", { "legacy": true }],// 转义ES7的修饰器@
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": true // 修改主题是基于less提供的modifyVars变量进行修改的，所以按需加载时使用true
      }
    ]
  ]
}